@page "/createAssignment"
@using MudBlazor
@using AssignmentManager.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<MudCard>
    <MudCardContent>
        <MudForm @bind-IsValid="@success" @bind-Errors="@errors">
            <MudText Typo="Typo.h4">Create Assignments</MudText>
            <MudText Typo="Typo.body2" Class="pb-1">Here you can create new assignments</MudText>
            <div class="d-flex my-1 align-content-between">
                <MudTextField @bind-Value="Name"
                              T="string" 
                              Label="Name" 
                              Required="true" 
                              Variant="Variant.Text" 
                              RequiredError="Name is required!"
                              Class="mr-4" />
                <MudDatePicker @bind-Date="Deadline"
                               Label="Deadline" />
            </div>
            <MudSelect @bind-Value="SubjectId" Label="Subject" Required="true" RequiredError="Subject is required!">
                @foreach (var subject in subjects)
                {
                    <MudSelectItem T="string" Value="@subject.SubjectId.ToString()">@subject.SubjectName</MudSelectItem>
                }
            </MudSelect>
            <MudTextField @bind-Value="Description" T="string" Label="Description" Variant="Variant.Outlined" Required="true" RequiredError="Description is required!" Lines="10" />
        </MudForm>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" OnClick="() => { OnClick(); }" Class="ml-auto">Create</MudButton>
    </MudCardActions>
</MudCard>

<MudCard>
    <MudText>@Name</MudText>
    <MudText>@Deadline</MudText>
    <MudText>@Description</MudText>
    <MudText>@SubjectId</MudText>
</MudCard>

@code {
    string Name;
    string Description;
    DateTime? Deadline = DateTime.Now;
    string SubjectId;

    List<SubjectResource> subjects = new List<SubjectResource>() {
        new SubjectResource() {SubjectId=101, SubjectName="DB" },
        new SubjectResource() {SubjectId=102, SubjectName="OS" },
    };

    void OnClick()
        {

        }

    bool success;
    string[] errors = { };
}
